<!DOCTYPE html>
<html>
  <head>
    <title>Involvio</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to "Involvio", root_path %>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "New Note", new_note_path %>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
